* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

/* Common Style*/

.container {
  width: 85%;
  max-width: 1360px;
  margin: 0px auto;
}
.btn {
  font-family: "Inter", sans-serif;
  background-color: #469165;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #367c52;
}

ul li {
  list-style: none;
}

.color-primary {
  color: #18e66e;
}

/* Navbar */
header {
  padding: 16px 0px;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  gap: 32px;
}

.nav-links li a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  font-weight: 500;
}
nav li a:hover {
  color: #469165;
}

.nav-btn .btn {
  padding: 12px 16px;
}

/* Hero Section */
#hero-section {
  background-image: url("./assets/hero-bg.png");
  height: 674px;
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#hero-section .hero-content .hero-top {
  display: inline-flex;
  gap: 6px;
  color: #320b0b;
  background-color: #ffffff;
  padding: 8px 12px;
  border-radius: 1000px;
}

#hero-section .hero-content .hero-title {
  line-height: 84px;
}
#hero-section .hero-content .hero-title {
  font-size: 72px;
  font-weight: 700;
  padding: 16px 0px;
  text-transform: capitalize;
}
#hero-section .hero-content .hero-desc {
  font-size: 18px;
  font-weight: 400px;
  line-height: 32px;
  color: white;
}
#hero-section .hero-content .hero-buttons {
  margin-top: 32px;
}

#hero-section .hero-content .hero-buttons .btn {
  padding: 16px;
  display: inline-flex;
  gap: 10px;
}
#hero-section .hero-content .hero-buttons .btn-secondary {
  background-color: transparent;
  border: 1px solid #ffffff;
  vertical-align: middle;
}
#hero-section .hero-content .hero-buttons .btn-secondary:hover {
  background-color: #367c52;
  border: none;
}

/* Features Section  */
#features {
  background-color: #fbfbfb;
}

#features .feat-container {
  padding-top: 30px;
}

#features .feat-container .feat-title {
  text-align: center;
}

#features .feat-container .feat-title h1 {
  font-size: 48px;
  color: #001931;
  text-transform: capitalize;
}
#features .feat-container .feat-title p {
  font-size: 16px;
  color: #627382;
  margin-top: 16px;
}

#features .feat-container .feat-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  gap: 24px;
}

#features .feat-container .feat-cards .feat-card {
  background-color: #ffffff;
  text-align: center;
  padding: 70px 24px;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.6);
}

.card-icon {
  display: inline-flex;
  background-color: #f95555;
  padding: 14px;
  border-radius: 50%;
}

.card-title {
  margin: 16px 0;
}

/* Solutions Section */

#solution .sol-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  padding: 120px 0px;
}

#solution .sol-container .right-side .sol-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#solution .sol-container .right-side .sol-content .sol-subtitle {
  color: #30b868;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
#solution .sol-container .right-side .sol-content .sol-title {
  font-size: 48px;
  color: #001931;
  text-transform: capitalize;
}
.sol-desc {
  font-size: 16px;
  font-weight: 400;
  color: #627382;
  padding-right: 35%;
}

.sol-list li {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-top: 16px;
}

/* CTA Section */
#cta-section .cta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  text-align: center;
  padding: 80px 0px;
  background-color: #f7f6f2;
  border-radius: 12px;
}

#cta-section .cta-container.cta-title {
  font-size: 40px;
  text-transform: capitalize;
}
#cta-section .cta-container .cta-desc {
  font-size: 16px;
  margin: 0 auto;
  color: #627382;
}

#cta-section .cta-container .cta-btn {
  display: flex;
  align-items: center;
  padding: 16px;
  gap: 10px;
}

#cta-section .cta-container .cta-note {
  font-size: 16px;
  color: #627382;
}

/* Footer Section */
footer {
  background-color: #001931;
  color: white;
}
.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 120px;
  padding-bottom: 80px;
  padding-right: 40px;
}

.footer-social-container h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 16px;
}
.social-links img {
  margin-right: 15px;
}
.sub-footer {
  text-align: center;
  padding: 30px 0;
}
